#ego {
    -fx-background-radius: 5em;
    -fx-background-image: url("/placeholder_ASSETS/btn_ego.png");
}

#alterego {
    -fx-background-radius: 5em;
    -fx-background-image: url("/placeholder_ASSETS/btn_alterego.png")
}

#paneBackground{
    -fx-background-image: url("/placeholder_ASSETS/bg_game.png")
}